<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Inicio</a>
        <a class="navbar-brand" href="{% url 'Registro_Luchadores' %}">Agregar Luchadores</a>
        <a class="navbar-brand" href="{% url 'Registro_Empresas' %}">Agregar Empresas</a>
        <a class="navbar-brand" href="{% url 'Registro_Eventos' %}">Agregar Eventos</a>
        <a class="btn btn-primary" href="#signup">Registrar Usuario</a>
    </div>
</nav>