{% extends 'herencias.html' %}

{% block content %}
    <h3 style="color: crimson;">Luchadores Encontrados</h3>

    <p style="color: blue;">Aquí aparecerán los resultados de tu búsqueda</p>

    {% if luchadores_list %}
        <ul>
            {% for luchador in luchadores_list %}
                <ol style="color: green;">
                    Nombre: {{ luchador.nombre }}<br>
                    Edad: {{ luchador.edad }}<br>
                    Peso: {{ luchador.peso }}<br>
                <ol>
            {% endfor %}
        </ul>
    {% else %}
        <p style="color: red;">No se encontraron resultados para "{{ luchadores_list }}"</p>
    {% endif %}
{% endblock %}